@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;500;400;600;700;&display=swap');

:root {
    --primary: #032541;
    --secondary: #21d07a;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 5px 30px;
}

.btn {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}   

.btn:hover {
    background-color: #1aa762;
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* header styles */
header {
    background-color: var(--primary);
}

header a {
    color: var(--white);
    font-weight: 600;
}

header .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header .brand a {
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    
}

header .nav-links li {
    display: inline-block;
    margin-right: 30px;
}

header .nav-links a {
    text-decoration: none;
}

header .nav-links li:last-child {
    margin-right: 0;
}

/* watchlist */
.watchlist-page h1 {
    margin: 30px 0;
    color: var(--primary);
    font-size: 1.55rem;
}

/* add */
.add-page h1 {
    margin: 20px 0;
    color: var(--primary);
    font-size: 1.55rem;
}

.add-content {
    padding: 40px 0;
    max-width: 600px;
    margin: 0 auto;
}

.add-content .input-wrapper input {
    width: 100%;
    color: var(--primary);
    padding: 10px;
    border: 2px solid rgb(168, 168, 168);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.add-content .input-wrapper input:focus {
    outline: none;
}

.add-content .input-wrapper input:focus-visible {
    border: 2px solid rgb(102, 102, 102);
}

